@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "GmarketSansMedium", "Noto Sans KR", sans-serif;
	margin:0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	border-bottom: 1px solid gray;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 1;
}

footer {
	position: relative;
	text-align: center;
	padding: 100px 0 50px 0;
	color: black;
}

.section_toggleOn {
	margin-top: 250px;
}

.nav-item {
	display: flex;
}





@media screen and (min-width: 992px) {
	/* 992px보다 커지면 */


}

@media screen and (max-width: 992px) {
	/* 992px보다 작아지면 */

	.navbar .max992off {
		display: none;
	}

}

@media screen and (max-width: 1200px) {
	/* 1200px보다 작아지면 */

	.navbar .menu_text {
		display: none;
	}
	
	.navbar .nav-item {
		margin-right: 20px;
	}

}

@media screen and (min-width: 1200px) {
	/* 1200px보다 커지면 */

	.navbar .menu_text {
		display: block;
	}

}



#navigator_home {
	background-color: white;
}
.navbar {
        transition: all 0.3s ease; /* 모든 속성 변경에 대해 0.3초 동안 부드러운 전환 */
    }


/* 헤더.jsp navigator */
.navbar #nav_container {
	height: 60px;
	
}

.navbar{
	transition: all 0.3s ease;
}

.navbar .navbar-brand {
	width: 240px;
	height: 52px;
}

.navbar #brand_img {
	width: auto;
	height: auto;
}


.navbar .nav_icon {
	width: 30px;
	height: 30px;
}

.navbar .nav_side_icon {
    color: black;
    position: fixed;
    right: 2%;

    font-size: 2rem;
}

.navbar #nav_user {
    top: 100px;
}

.navbar #nav_wish {
    top: 150px;    
}

.navbar #nav_chat {
    bottom: 8%;
}

.navbar #nav_toTop {
    bottom: 2%;
    display: none;
}


/* home.jsp */


/* 홈에서 스크롤 200미만이면 적용 */
#navigator_home {
	position:absolute;
	margin: 20px 30px 0 30px;
	border: 2px solid rgb(219, 219, 219);
<<<<<<< HEAD
	border-radius: 20px;
	transition: all 0.3s ease;
}


#categories {
    margin: auto;
    text-align: center;
}

.majors {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: space-around;
}

.major {
    background-color: black;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
}

.major_icon {
    font-size: 15px;
    margin: 10px;
}

.major_title {
    font-size: 15px;
    font-weight: bold;
}


.ad_banner {
	width: 800px;
	height: 200px;
}


.carsl {
	height : 500px;
}


.acc_info_page .item { /* itemList.css 따옴*/
    width: 190px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 14px;
}

/*---------------itemList.css-----------------*/


.item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: 12px;
}

.item_view {
    width: 160px;
    padding-top: 12px;
}

.item_view h3 {
    font-size: 17px;

}

.item_price {
    display: flex;
    justify-content: space-between;
}

.item_view h4 {
    font-weight: bold;
    font-size: 14px;

}

.item_view h5 {
    font-size: 15px;

}

.item_like {
    display: flex;
    font-size: 13px;
}

.item_like p:first-child {
    margin-right: 15px;
}

.item_like p {
    margin-bottom: 6px;
    color: rgb(187, 187, 187);
}

.item_addr {
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    gap: 3px;
}

.item_addr p {
    margin: 0;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 8px;
}

.item_addr img {
    width: 16px;
    height: 16px;
    margin-top: 6px;
    opacity: 50%;
=======
	border-radius: 10px;
	z-index: 1000;
	width: 95%;
>>>>>>> 21531cb2b4639f6ebffc180df8720999358a6bc2
}


















