@charset "UTF-8";

.navbar-brand{
    color: brown;
    font-size: 2rem;
}

.nav_icon {
    color: black;
    position: fixed;
    right: 5%;

    font-size: 2rem;
}

#nav_user {
    top: 70px;
}

#nav_wish {
    top: 110px;
}

#nav_link {
    top: 150px;
}

#nav_toTop {
    bottom: 2%;
}


#categories {
    margin: auto;
    text-align: center;
}

.majors {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: space-around;
}

.major {
    background-color: black;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
}

.major_icon {
    font-size: 15px;
    margin: 10px;
}

.major_title {
    font-size: 15px;
    font-weight: bold;
}

#veggies:hover {
    cursor: pointer;
    background-color: darkgreen;
    color: burlywood;
}

#veggies:hover .major_icon {
    transform: rotate(15deg);
    color: burlywood;
}

#meat:hover {
    cursor: pointer;
    background-color: darkred;
    color: lightsalmon;
}

#meat:hover .major_icon {
    transform: rotate(-15deg);
    color: lightsalmon;
}

#seafood:hover {
    cursor: pointer;
    background-color: darkblue;
    color: lightseagreen;
}

#seafood:hover .major_icon {
    transform: rotate(15deg);
    color: lightseagreen;
}