@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "GmarketSansMedium", "Noto Sans KR", sans-serif;
	margin:0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	border-bottom: 1px solid gray;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 1;
}

footer {
	position: relative;
	text-align: center;
	padding: 100px 0 50px 0;
	color: black;
}

.section_toggleOn {
	margin-top: 250px;
}






@media screen and (min-width: 992px) {
	/* 992px보다 커지면 */


}

@media screen and (max-width: 992px) {
	/* 992px보다 작아지면 */

	.navbar .max992off {
		display: none;
	}

}

@media screen and (max-width: 1200px) {
	/* 992px보다 작아지면 */

	.navbar .menu_text {
		display: none;
	}
	
	.navbar .nav-item {
		margin-right: 20px;
	}

}



/* 어디에 쓰는 건지??????  */
.list-group-item a {
	text-decoration-line: none;
	color: black;
}

.input_text {
	width: 400px;
	height: 40px;
}




/* 헤더.jsp navigator */
.navbar #nav_container {
	height: 60px;
}


.navbar .navbar-brand {
	width: 240px;
	height: 52px;
}

.navbar #brand_img {
	width: auto;
	height: auto;
}


.navbar .nav_icon {
	width: 30px;
	height: 30px;
}

.navbar .nav_side_icon {
    color: black;
    position: fixed;
    right: 2%;

    font-size: 2rem;
}

.navbar #nav_user {
    top: 100px;
}

.navbar #nav_wish {
    top: 150px;    
}

.navbar #nav_chat {
    bottom: 8%;
}

.navbar #nav_toTop {
    bottom: 2%;
    display: none;
}


/* home.jsp */


/* 홈에서 스크롤 200미만이면 적용 */
#navigator_home {
	margin: 20px;
	border: 2px solid rgb(219, 219, 219);
	border-radius: 20px;
}


















