@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "GmarketSansMedium", "Noto Sans KR", sans-serif;
	margin:0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	border-bottom: 1px solid gray;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 1;
}

footer {
	position: relative;
	text-align: center;
	padding: 100px 0 50px 0;
	color: black;
}

@media screen and (min-width: 992px) {
	/* 992px보다 커지면 */


}

@media screen and (max-width: 992px) {
	/* 992px보다 작아지면 */

	#navigator .max992off {
		display: none;
	}

}






/* 어디에 쓰는 건지??????  */
.list-group-item a {
	text-decoration-line: none;
	color: black;
}

.input_text {
	width: 400px;
	height: 40px;
}

/* 헤더.jsp navigator */
#navigator #nav_container {
	height: 60px;
}


#navigator .navbar-brand {
	width: 240px;
	height: 52px;
}

#navigator #brand_img {
	width: auto;
	height: auto;
}


#navigator .nav_icon {
	width: 30px;
	height: 30px;
}

#navigator .nav_side_icon {
    color: black;
    position: fixed;
    right: 5%;

    font-size: 2rem;
}

#navigator #nav_user {
    top: 100px;
}

#navigator #nav_wish {
    top: 150px;    
}

#navigator #nav_chat {
    bottom: 8%;
}

#navigator #nav_toTop {
    bottom: 2%;
}


/* home.jsp */
.home_page {
	margin-top: 100px;
}

.home_page_toggleOn {
 	padding-top: 250px;
 }


#categories {
    margin: auto;
    text-align: center;
}

.majors {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: space-around;
}

.major {
    background-color: black;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
}

.major_icon {
    font-size: 15px;
    margin: 10px;
}

.major_title {
    font-size: 15px;
    font-weight: bold;
}


.ad_banner {
	width: 800px;
	height: 200px;
}


.carsl {
	height : 500px;
}


.acc_info_page .item { /* itemList.css 따옴*/
    width: 190px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 14px;
}

/*---------------itemList.css-----------------*/


.item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: 12px;
}

.item_view {
    width: 160px;
    padding-top: 12px;
}

.item_view h3 {
    font-size: 17px;

}

.item_price {
    display: flex;
    justify-content: space-between;
}

.item_view h4 {
    font-weight: bold;
    font-size: 14px;

}

.item_view h5 {
    font-size: 15px;

}

.item_like {
    display: flex;
    font-size: 13px;
}

.item_like p:first-child {
    margin-right: 15px;
}

.item_like p {
    margin-bottom: 6px;
    color: rgb(187, 187, 187);
}

.item_addr {
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    gap: 3px;
}

.item_addr p {
    margin: 0;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 8px;
}

.item_addr img {
    width: 16px;
    height: 16px;
    margin-top: 6px;
    opacity: 50%;
}





/* 로그인 */

.login-container {
	width: 1000px;
	margin: auto;
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-container form {
	width: 450px;
	height: 40px;
	display: flex;
}

.login-container .sch_smit {
	width: 30px;
	background-color: white;
	border: none;
}

.login-container .sch_smit  img {
	width: 35px;
	margin-top: 3px;
}

.login {
	display: flex;
}

.login_img {
	width: 30px;
	height: 30px;
}

.login img {
	width: 30px;
	margin-right: 3px;
}

.login_text {
	color: black;
	text-decoration: none;
	margin-top: 7px;
}

.login_btn {
	display: flex;
}

.login_profile {
	display: flex;
}

.login_profileIn {
	display: flex;
}

.login_profileIn a:first-child {
	margin-right: 10px;
	margin-top: 1px;
}

.login_profile img {
	width: 30px;
}

.login_profile_text {
	color: black;
	text-decoration: none;
	margin-top: 5px;
	position: relative;
	top: 2px;
	left: -6px;
}





