@charset "UTF-8";


/* 채팅방리스트 모달 CSS */

#chatList .chatRoom_box {
	border: 1px solid green;
	border-radius: 5px;
	
	padding: 10px;
}

#chatList .chatRoom_box:hover {
	cursor: pointer;
	background-color: #DCF8C6;
	
}



#chatList .enterChatRoom {
	display: none;
}



/* 채팅방 모달 CSS */
/*  .chat-container {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	
	display: flex;
	flex-direction: column;
	max-width: 400px;
	height: 75vh;
	margin: 0 auto;
	border: 1px solid #ddd;
	background-color: #fff;
	overflow: hidden;
	
	
} */



.chat-header .returnToRoomList {
	border: none;
    background-color: transparent;
}



.chat-viewer {
	height: 50vh;
	
	flex-grow: 1;
	padding: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.chat-viewer .message {
	max-width: 70%;
	padding: 8px 12px;
	border: 1px solid #ddd;
	border-radius: 20px;
	font-size: 14px;
	word-wrap: break-word;
	color: black;
	
	align-self: center;
}

.chat-viewer .message.none {
	background-color: yellow;
	color: red;
}

.chat-viewer .message.server {
	background-color: yellow;
}

.chat-viewer .message.mine {
	align-self: flex-end;
	background-color: #DCF8C6;
}

.chat-viewer .message.other {
	align-self: flex-start;
	background-color: #ebebeb;
}

.chat-viewer .profile.other {
/* 뭘 줘야 아이디가 그림 뒤에 붙고 */
}


.chat-viewer .profile img {
	
	width: 38px;
	height: 38px;
	border: 1px solid #ddd;
	border-radius: 20px;
	align-self: flex-start;
}



.chat-footer {
	padding: 0;
}

.chat-footer .input-area {
	display: flex;
	margin: 0;
	padding: 10px;
}

.chat-footer .input-area input[type="text"] {
	flex-grow: 1;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 20px;
	font-size: 14px;
	outline: none;
}

.chat-footer #chat-sendBtn {
	margin-left: 10px;
	padding: 10px 20px;
	background-color: #DCF8C6;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
}