<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.ss.useditems.dto.MemberDTO"
			alias="memberDTO" />

		<typeAlias type="com.ss.useditems.dto.BlacklistDTO"
			alias="BlacklistDTO" />		

		<typeAlias type="com.ss.useditems.dto.ReplyDTO"
			alias="ReplyDTO" />

		<typeAlias type="com.ss.useditems.dto.ItemInfoDTO"
			alias="itemInfoDTO" />
			
		<typeAlias type="com.ss.useditems.dto.ChatRoomDTO"
			alias="ChatRoomDTO" />		
			
		<typeAlias type="com.ss.useditems.dto.ChatDTO"
			alias="ChatDTO" />		
	</typeAliases>
</configuration>