<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ss.useditems.mapper.ItemMapper">
	<resultMap type="itemDTO" id="itemMap">
		<result property="item_index" column="item_index" />
		<result property="item_seller" column="item_seller" />
		<result property="item_title" column="item_title" />
		<result property="item_content" column="item_content" />
		<result property="item_category" column="item_category" />
		<result property="item_price" column="item_price" />
		<result property="item_place" column="item_place" />
		<result property="item_status" column="item_status" />
		<result property="item_enrollDate" column="item_enrollDate" />
		<result property="item_click" column="item_click" />
		<result property="item_interest" column="item_interest" />
		<result property="item_offDate" column="item_offDate" />
		<result property="item_buyer" column="item_buyer" />
	</resultMap>

	<resultMap type="itemInfoDTO" id="itemInfoMap"
		extends="itemMap">
		<result property="item_place_name" column="item_place_name" />
		<result property="item_place_address" column="item_place_address" />
		<result property="item_placeX" column="item_placeX" />
		<result property="item_placeY" column="item_placeY" />
		<result property="acc_nickname" column="acc_nickname" />
		<result property="acc_address" column="acc_address" />
		<result property="acc_score" column="acc_score" />
		<result property="repl_count" column="repl_count" />
		<result property="show_thumb" column="show_thumb" />
		<result property="show_img1" column="show_img1" />
		<result property="show_img2" column="show_img2" />
		<result property="show_img3" column="show_img3" />
		<result property="show_img4" column="show_img4" />
		<result property="show_img5" column="show_img5" />
	</resultMap>

	<select id="interest" parameterType="Integer"
		resultMap="itemInfoMap">
	SELECT
		*
		FROM
		(
		SELECT
		i.*,
		s.show_thumb,
		s.show_img1,
		s.show_img2,
		s.show_img3,
		s.show_img4,
		s.show_img5,
        inter.int_subject
		FROM
		(
		SELECT
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		TO_CHAR(item_enrolldate, 'YYYY-MM-DD HH24:MI:SS') AS item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer,
		COUNT(repl_index) repl_count
		FROM
		item
		LEFT JOIN reply ON repl_item = item_index
		GROUP BY
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer
		) i
		LEFT JOIN showcase
		s ON s.show_item = i.item_index
        JOIN interest inter ON i.item_index = inter.int_item
		)
		WHERE INT_SUBJECT = #{accIndex}
	</select>

	<delete id="deleteInterestItem" parameterType="Map">
		DELETE FROM
		INTEREST
		WHERE int_subject = #{accIndex} AND int_item = #{itemId}
	</delete>

	<select id="selectByNearPlace" parameterType="java.util.Map"
		resultMap="itemInfoMap">
		SELECT
		*
		FROM
		(
		SELECT
		i.*,
		s.show_thumb,
		s.show_img1,
		s.show_img2,
		s.show_img3,
		s.show_img4,
		s.show_img5
		FROM
		(
		SELECT
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		TO_CHAR(item_enrolldate, 'YYYY-MM-DD HH24:MI:SS') AS item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer,
		COUNT(repl_index) repl_count
		FROM
		item
		LEFT JOIN reply ON repl_item =
		item_index
		GROUP BY
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer
		) i
		LEFT JOIN showcase
		s ON s.show_item = i.item_index
		)
		WHERE item_status IN ('onsale', 'ondeal')
		<if test="searchAddressList != null and searchAddressList.length > 0">
			AND item_place IN
			<foreach item="searchAddress" collection="searchAddressList" open="("
				separator="," close=")">
				#{searchAddress}
			</foreach>
		</if>
		<if test="categoryList != null and categoryList.length > 0">
			AND item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
		<if test="nearPlace != null">
			ORDER BY item_place
		</if>
	</select>

	<select id="selectByPopular" parameterType="java.util.Map"
		resultMap="itemInfoMap">
		SELECT
		*
		FROM
		(
		SELECT
		i.*,
		s.show_thumb,
		s.show_img1,
		s.show_img2,
		s.show_img3,
		s.show_img4,
		s.show_img5
		FROM
		(
		SELECT
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		TO_CHAR(item_enrolldate, 'YYYY-MM-DD HH24:MI:SS') AS item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer,
		COUNT(repl_index) repl_count
		FROM
		item
		LEFT JOIN reply ON repl_item =
		item_index
		GROUP BY
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer
		) i
		LEFT JOIN showcase
		s ON s.show_item = i.item_index
		)
		WHERE item_status IN ('onsale', 'ondeal')
		<if test="searchAddressList != null and searchAddressList.length > 0">
			AND item_place IN
			<foreach item="searchAddress" collection="searchAddressList" open="("
				separator="," close=")">
				#{searchAddress}
			</foreach>
		</if>
		<if test="categoryList != null and categoryList.length > 0">
			AND item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
		<if test="popular != null">
			ORDER BY item_click DESC, item_interest DECS, item_place
		</if>
	</select>

	<select id="selectByBestSeller" parameterType="java.util.Map"
		resultMap="itemInfoMap">
		SELECT
		i.*,
		s.show_thumb,
		s.show_img1,
		s.show_img2,
		s.show_img3,
		s.show_img4,
		s.show_img5,
		COUNT(*)
		OVER(PARTITION BY i.item_seller) AS
		seller_item_count
		FROM
		(
		SELECT
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		TO_CHAR(item_enrolldate, 'YYYY-MM-DD HH24:MI:SS') AS item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer,
		COUNT(repl_index) repl_count
		FROM
		item
		LEFT JOIN reply ON repl_item = item_index
		GROUP BY
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer
		) i
		JOIN account a ON i.item_seller =
		a.acc_index
		JOIN showcase s ON i.item_index = s.show_item
		WHERE item_status IN ('onsale', 'ondeal')
		<if test="searchAddressList != null and searchAddressList.length > 0">
			AND item_place IN
			<foreach item="searchAddress" collection="searchAddressList" open="("
				separator="," close=")">
				#{searchAddress}
			</foreach>
		</if>
		<if test="categoryList != null and categoryList.length > 0">
			AND item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
		<if test="bestSeller != null">
			ORDER BY seller_item_count DESC, item_seller,
			item_index
		</if>
	</select>

	<select id="selectByDefault" parameterType="java.util.Map"
		resultMap="itemInfoMap">
		SELECT
		*
		FROM
		(
		SELECT
		i.*,
		s.show_thumb,
		s.show_img1,
		s.show_img2,
		s.show_img3,
		s.show_img4,
		s.show_img5
		FROM
		(
		SELECT
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		TO_CHAR(item_enrolldate, 'YYYY-MM-DD HH24:MI:SS') AS item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer,
		COUNT(repl_index) repl_count
		FROM
		item
		LEFT JOIN reply ON repl_item = item_index
		GROUP BY
		item_index,
		item_seller,
		item_title,
		item_content,
		item_category,
		item_price,
		item_place,
		item_place_name,
		item_place_address,
		item_placeX,
		item_placeY,
		item_status,
		item_enrolldate,
		item_click,
		item_interest,
		item_offdate,
		item_buyer
		) i
		LEFT JOIN showcase
		s ON s.show_item = i.item_index
		)
		WHERE item_status IN ('onsale', 'ondeal')
		<if test="searchAddressList != null and searchAddressList.length > 0">
			AND item_place IN
			<foreach item="searchAddress" collection="searchAddressList" open="("
				separator="," close=")">
				#{searchAddress}
			</foreach>
		</if>
		<if test="categoryList != null and categoryList.length > 0">
			AND item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
	</select>
	
	<select id="nearDistrict" parameterType="Map"
		resultType="String">
		SELECT item_place
		FROM item
		WHERE (
		6371 * ACOS(
		COS(RADIANS(#{acc_addressX})) * COS(RADIANS(item_placex))
		* COS(RADIANS(item_placey) - RADIANS(#{acc_addressY}))
		+ SIN(RADIANS(#{acc_addressX})) * SIN(RADIANS(item_placex))
		)
		) &lt;= 0.7
	</select>
</mapper>