<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ss.useditems.mapper.ItemMapper">
	<resultMap type="itemDTO" id="itemMap">
		<result property="item_index" column="item_index" />
		<result property="item_seller" column="item_seller" />
		<result property="item_title" column="item_title" />
		<result property="item_content" column="item_content" />
		<result property="item_image" column="item_image" />
		<result property="item_category" column="item_category" />
		<result property="item_place" column="item_place" />
		<result property="item_status" column="item_status" />
		<result property="item_enrollDate" column="item_enrollDate" />
		<result property="item_click" column="item_click" />
		<result property="item_interest" column="item_interest" />
		<result property="item_offDate" column="item_offDate" />
		<result property="item_buyer" column="item_buyer" />
	</resultMap>

	<select id="interest" parameterType="Integer"
		resultMap="itemMap">
		SELECT i.*
		FROM item i
		JOIN interest inter ON i.item_index =
		inter.int_item
		WHERE inter.int_subject = #{accIndex}
		order by item_index
	</select>

	<delete id="deleteInterestItem" parameterType="Map">
		DELETE FROM
		INTEREST
		WHERE int_subject = #{accIndex} AND int_item = #{itemId}
	</delete>

	<!-- nearPlace에 대한 조건을 동적으로 추가 -->
	<select id="selectByNearPlace" parameterType="java.util.Map"
		resultMap="itemMap">
		SELECT * FROM ITEM
		WHERE 1 = 1 
		<if test="categoryList != null and categoryList.length > 0">
			AND item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
		<if test="nearPlace != null">
			ORDER BY item_place asc
		</if>
	</select>

	<select id="selectByPopular" parameterType="java.util.Map"
		resultMap="itemMap">
		SELECT * FROM ITEM
		WHERE 1 = 1
		<if test="categoryList != null and categoryList.length > 0">
			AND item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
		<if test="popular != null">
			ORDER BY item_click asc, item_interest asc
		</if>
	</select>

	<select id="selectByBestSeller" parameterType="java.util.Map"
		resultMap="itemMap">
		SELECT
		i.item_index,
		i.item_seller,
		i.item_title,
		i.item_content,
		i.item_image,
		i.item_category,
		i.item_price,
		i.item_place,
		i.item_status,
		i.item_enrollDate,
		i.item_click,
		i.item_interest,
		i.item_offDate,
		i.item_buyer,
		COUNT(*) OVER (PARTITION BY i.item_seller) AS
		seller_item_count
		FROM ITEM i
		JOIN ACCOUNT a ON i.item_seller =
		a.acc_index
		WHERE 1 = 1
		<if test="categoryList != null and categoryList.length > 0">
			AND i.item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
		<if test="bestSeller != null">
			ORDER BY seller_item_count DESC, i.item_seller, i.item_index
		</if>
	</select>

	<select id="selectByDefault" parameterType="java.util.Map"
		resultMap="itemMap">
		SELECT * FROM ITEM
		WHERE 1 = 1
		<if test="categoryList != null and categoryList.length > 0">
			AND item_category IN
			<foreach item="category" collection="categoryList" open="("
				separator="," close=")">
				#{category}
			</foreach>
		</if>
		<if test="searchValue != null">
			AND (item_title LIKE '%${searchValue}%'
			OR item_content
			LIKE '%${searchValue}%'
			OR item_category LIKE '%${searchValue}%'
			OR
			item_place LIKE '%${searchValue}%')
		</if>
	</select>
</mapper>