@charset "UTF-8";

#item_content_list {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}

.category {
    width: 1000px;
    height: 150px;
    background-color: white;
    margin:0;
    padding-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.category label{
	margin-right: 10px;
}

.category div:first-child {
	margin-bottom: 10px;
}
.category button{
	width: 80px;
	height: 30px;
	color:white;
	background-color:#63bd37;
	border: none;
	border-radius: 3px;
}
.category button:hover{
	background-color: #4d932b;
}

.form-check label {
    font-size: 15px;
}

.item_title {
    width: 1000px;
}

.item_title h3 {
    font-size: 20px;
    float: left;
}

.item_wrapper {
	 width: 1000px;
	display: flex;
    flex-wrap: wrap;
   	margin-bottom:20px;
   	gap:12px;
}


.item {
    width: 190px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 14px;
}

.item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: 12px;
}

.item_view {
    width: 160px;
    padding-top: 12px;
}

.item_view h3 {
    font-size: 17px;

}

.item_price {
    display: flex;
    justify-content: space-between;
}

.item_view h4 {
    font-weight: bold;
    font-size: 14px;

}

.item_view h5 {
    font-size: 15px;

}

.item_like {
    display: flex;
    font-size: 13px;
}

.item_like p:first-child {
    margin-right: 15px;
}

.item_like p {
    margin-bottom: 6px;
    color: rgb(187, 187, 187);
}

.item_addr {
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    gap: 3px;
}

.item_addr p {
    margin: 0;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 8px;
}

.item_addr img {
    width: 16px;
    height: 16px;
    margin-top: 6px;
    opacity: 50%;
}
 
 
