@charset "UTF-8";

#container_inner {
	width: 80%;
	border: 2px solid rgb(219, 219, 219);
	border-radius: 10px;
	padding: 20px;
}

.itemEnroll_title {
	margin: 0;
	display: flex;
	justify-content: center;
}

.itemEnroll_title h2 {
	align-items: center;
	margin: 0;
}

.container_btn {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.itemEnroll_subtitle {
	display: inline-block;
	width: 100px;
}

.item_input {
	width: 426px;
	height: 38px;
}

.box {
	display: flex;
	gap: 6px;
}

.input_text {
	height: 114px;
}

#preview {
	display: none;
	width: 400px;
	height: 365px;
}

#defaultview {
	display: block;
	width: 400px;
	height: 365px;
	opacity: 0.8;
}

.defaultP {
	display: flex;
	justify-content: center;
	align-items: center;
}

.defaultPcss {
	display: none !important;
}

#preview1 {
	display: block;
	width: 400px;
	height: 365px;
	flex-direction: space-between;
}

.container_preview {
	display: flex;
	flex-direction: column;
}

.modal-dialog {
	margin: auto;
	top: 10%;
	transform: translateY(-10%);
}

#input_address {
	position: relative;
	width: 426px;
}

#selectPlaceButton {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	margin-top: 4px;
	margin-bottom: 12px;
	height: 30px;
	background-color: #3aca0b;
	color: white;
	font: 14px;
	margin-bottom: 12px;
}

#input_box4 {
	display: flex;
}

.input_addressBtn {
	display: flex;
	text-align: center;
	align-items: center;
	padding-top: 10px;
}

/* #item_thumb {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.fileBtn {
	background-color: #3aca0b;
	color: white;
	font: 14px;
} */