@charset "UTF-8";

.acc_alt_page {
	/* margin: auto; */
	width: 100%;
}

.acc_alt_page #acc_detail {
	width: 600px;
	border: 2px solid rgb(219, 219, 219);
	border-radius: 10px;
	padding: 20px;
}

.acc_alt_page #acc_id {
	font-size: 20px;
	font-weight: bold;
}

.acc_alt_page #profile { /* alter 프로필 사진*/
	width: 150px;
	height: 150px;
}

.acc_alt_page #file_box {
	padding: 0;
}


.acc_alt_page button {
	margin: 0;
	padding: auto;
}

.acc_alt_page .subtitle {
	display: inline-block;
	width: 100px;
}

.acc_alt_page #input_pw_box {
	display: none;
}

.acc_alt_page .input_pw {
	margin-left: 96px;
	width: 350px;
}

.acc_alt_page #setPW {
	disabled;
}

.acc_alt_page #redundant_box {
	border: 1px solid rgb(219, 219, 219);
	border-radius: 10px;
	padding: 10px;
}

.acc_alt_page .info_box {
	width: 350px;
}

.acc_alt_page .btn_container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.acc_alt_page #wd_hide1 {
 	 display: none; 
 }
 
 
 