@charset "UTF-8";

.acc_info_page {
    margin: auto;
    width: 100%;
}

.acc_info_page .inform {
    width: 600px;
    height: 350px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    margin-bottom: 10px;
    
    padding: 20px;
}


.acc_info_page .firstP {
    margin-top: 15px;
}


.acc_info_page .btn_box  {
	margin: 0;
	padding: 0;
	width: 120px;
}

.acc_info_page #acc_profile { /*info 프로필 사진*/
    width: 120px;
    height: 120px;
}

.acc_info_page #acc_mock { /*mock*/
	margin: 0;
    width: 120px;
    height: 90px;
}


.acc_info_page .black_report {
	height: 17px;
}


.acc_info_page .black_report a {
	color: rgb(161, 161, 161);
	text-decoration: none;
	font-weight: lighter;
	font-size: 15px;	
}

.acc_info_page .black_report img {
	width: 25px;
	height: 25px;
	opacity: 50%;
}


.acc_info_page .btn_acc {
	margin: 0;
	padding: auto;
}

#acc_profit h3 {
    margin: 15px;
}

#acc_profit p {
    margin: 12px;
}


.acc_info_page #period {
    height: 20px;
}



.acc_info_page .subtitle h4 {
    margin: 5px 10px;
}


.acc_info_page .vr {
    height: 20px;
}

.acc_info_page #btn_item_enroll {
    margin-left: 15px;
}


.acc_info_page .items_domain {
	width: 1000px;
}


.acc_info_page .item_container_acc { /* itemList.css 따옴*/
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
	gap: 10px;
    /* justify-content: space-between; */

    margin-bottom: 20px;
}


.acc_info_page .item { /* itemList.css 따옴*/
    width: 190px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 14px;
}

/*---------------itemList.css-----------------*/


.acc_info_page .item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: 12px;
}

.acc_info_page .item_view {
    width: 160px;
    padding-top: 12px;
}

.acc_info_page .item_view h3 {
    font-size: 17px;

}

.acc_info_page .item_price {
    display: flex;
    justify-content: space-between;
}

.acc_info_page .item_view h4 {
    font-weight: bold;
    font-size: 14px;

}

.acc_info_page .item_view h5 {
    font-size: 15px;

}

.acc_info_page .item_like {
    display: flex;
    font-size: 13px;
}

.acc_info_page .item_like p:first-child {
    margin-right: 15px;
}

.acc_info_page .item_like p {
    margin-bottom: 6px;
    color: rgb(187, 187, 187);
}

.acc_info_page .item_addr {
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    gap: 3px;
}

.acc_info_page .item_addr p {
    margin: 0;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 8px;
}

.acc_info_page .item_addr img {
    width: 16px;
    height: 16px;
    margin-top: 6px;
    opacity: 50%;
}