@charset "UTF-8";

.acc_info_page {
    /* margin: auto; */
    width: 1000px;
}

.acc_info_page #acc_summary {
	margin-bottom: 40px;
}

.acc_info_page .acc_inform {
    width: 600px;
    height: 330px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
}

.acc_info_page .public_title {
	width: 100px;
	margin: 0 0 16px 0;
	padding: 0;
    display: flex;
    justify-content: space-between;
}

.acc_info_page #acc_profile { /*info 프로필 사진*/
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: 5px;
}

.acc_info_page #acc_hr {
	margin: 12px;
}

.acc_info_page .acc_level {
	height: 40px;
}

.acc_info_page .acc_level img {
	height: 22px;
}

.acc_info_page #acc_mock { /*mock*/
	margin: 0;
    width: 90px;
    height: 95px;
}

.acc_info_page .black_report {
	height: 25px;
}

.acc_info_page .black_report a {
	color: rgb(161, 161, 161);
	text-decoration: none;
	font-weight: lighter;
	font-size: 15px;	
}

.acc_info_page .black_report a:hover {
	font-weight: bolder;
}

.acc_info_page .black_report img {
	margin-top: -4px;
	width: 25px;
	height: 25px;
}

.acc_info_page .btn_acc {
	margin: 0;
	padding: 5px 6px 4px;
	width: 100px;
	height: 30px;
}

#acc_profit h3 {
    margin: 15px;
}

#acc_profit p {
    margin: 12px;
}

.acc_info_page #period {
    height: 20px;
}

.acc_info_page .subtitle {
	margin-left: 9px;
	padding: 0;
	width: 189px;
}

.acc_info_page .vr {
	margin: 0;
}

.acc_info_page .subtitle h4 {
    margin: auto; 
    display: flex;
    justify-content: space-between;
}

.acc_info_page .vr {
    height: 22px;
}


.acc_info_page #acc_public{
	width: 600px;
}


.acc_info_page .top_container {
	width:520px;
	display: flex;
	justify-content: space-between;
}

.acc_info_page .btn_boxContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.acc_info_page .bottom_container{
	width:520px;
}

.acc_info_page .bottom_info_box {
	display: flex;
	justify-content:center;
	gap:70px;
	text-align: center;
}

.acc_info_page .bottom_info_box p {
	font-size: 18px;
}


/* item carousel CSS는 itemView.jsp와 같음 */

.acc_info_page .carousel-wrapper {
	padding-top: 0;
	margin-bottom: 20px;
	width: 1000px;
	/* position: relative; */
}

.acc_info_page .notice_empty {
	margin-bottom: 0;
}

.acc_info_page .txt_long {
	font-size: 15px;
}

.acc_info_page .item_info_empty {
	width:189px;
    height: 240px;
    margin-left: 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-bottom: 14px;
    
    border: 1px solid lightgray;
}

.acc_info_page .newItem_wrap {
	width: 100%;
	margin:auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 50px;
}

.acc_info_page .item_slick_container { /* before: otherItem_container */
	width: 1000px;
	margin-top:-40px;
}

.acc_info_page .slick_carousel { /* before: newItem_container2 */
	display: flex;
	justify-content: space-between;
	gap:9px;
	transition: transform 0.5s ease;
}

.acc_info_page .slick-track {
	display: flex;
	gap:10px;
}

.acc_info_page .slick-slide {
	border: 1px solid rgb(219, 219, 219);
}

.acc_info_page .slick-arrow {
	width:50px;
	height:50px;
	position: absolute;
	top: 50%;
	
}

.acc_info_page .slick-next {
	right: -50px;
}
.acc_info_page .slick-prev {
	left: -50px;
}






.acc_info_page .item_info {
	width:200px;
    height: 240px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 14px;
}

.acc_info_page .item_info img {
    width: 160px;
    height: 130px;
    object-fit: cover;
    margin-top: 12px;
    margin-left:13px;
}
