@charset "UTF-8";

.acc_info_page {
    /* margin: auto; */
    width: 100%;
}

.acc_info_page .inform {
    width: 600px;
    height: 330px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    margin-bottom: 5px;
    
    padding: 20px;
}

.acc_info_page .public_title {
	width: 100px;
	margin: 0 0 16px 0;
	padding: 0;
    display: flex;
    justify-content: space-between;
}

.acc_info_page .btn_box  {
	margin: 0;
	padding: 0;
	width: 120px;
}

.acc_info_page #acc_profile { /*info 프로필 사진*/
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: 5px;
}

.acc_info_page #acc_hr {
	margin: 12px;
}

.acc_info_page .acc_level {
	height: 40px;
}

.acc_info_page .acc_level img {
	height: 22px;
}

.acc_info_page #acc_mock { /*mock*/
	margin: 0;
    width: 90px;
    height: 95px;
}

.acc_info_page .black_report {
	height: 25px;
}

.acc_info_page .black_report a {
	color: rgb(161, 161, 161);
	text-decoration: none;
	font-weight: lighter;
	font-size: 15px;	
}

.acc_info_page .black_report a:hover {
	font-weight: bolder;
}

.acc_info_page .black_report img {
	margin-top: -4px;
	width: 25px;
	height: 25px;
}

.acc_info_page .btn_acc {
	margin: 0;
	padding: 5px 6px 4px;
	width: 100px;
	height: 30px;
}

#acc_profit h3 {
    margin: 15px;
}

#acc_profit p {
    margin: 12px;
}

.acc_info_page #period {
    height: 20px;
}

.acc_info_page .subtitle {
	margin-left: 9px;
	padding: 0;
	width: 189px;
}

.acc_info_page .vr {
	margin: 0;
}

.acc_info_page .subtitle h4 {
    margin: auto; 
    display: flex;
    justify-content: space-between;
}

.acc_info_page .vr {
    height: 22px;
}

.acc_info_page .btn_item {
    margin-left: 15px;
    margin-bottom: 4px;
    width: 77px;
    height: 30px;
}



.acc_info_page .notice_empty {

}

/* item carousel CSS는 itemView.jsp와 같음 */

