@charset "UTF-8";

#timeline .offcanvas-start {
	top: 75px;
}

#timeline #offcanvas_timeline_label {
	color: forestgreen;
	font-weight: bold;
}

#timeline .offcanvas-header {
	background-color: #DCF8C6;
}


/* toggleClass: at acc_info.js */
.acc_info_page .acc_summary_withTimeline {
	padding-left: 410px;
	transition: all 0.3s ease;
}

.acc_info_page .carousel-wrapper_withTimeline {
	padding-left: 400px;
	transition: all 0.3s ease;
}
