@charset "UTF-8";

.blacklist_page {
    /* margin: auto; */
    padding-top: 100px;
    width: 100%;
}

.blacklist_page .whole-container {
	width: 1000px;
}

.blacklist_page #blacklist_title_container {
	padding-top: 16px;
	margin-bottom: 20px;
	background-color: salmon;
	border-radius: 10px 30px;
}

.blacklist_page #safeMarket {
	color: rgb(153, 234, 153);
}

.blacklist_page .search_box {
	width: 400px;
	
}

 .blacklist_page .radio_type {
 	width: 80px;
 	margin-left: 10px;
 }


.blacklist_page #searchBlack {
	margin: 0;
}


 .blacklist_page #search_btn {
 	width: 50px;
 	height: 40px;
 	padding: auto;
 }

 .blacklist_page #search_img {
 	width: 35px;
 	height: 35px;
 	margin: 0;
 }
 
 
.blacklist_page #blacklist_container thead th:first-child{
 	border-radius: 10px 0 0 0 ; 
 }
 
.blacklist_page #blacklist_container thead th:last-child{
 	border-radius: 0 30px 0 0 ; 
 }
 
 .blacklist_page #blacklist_container tbody tr:last-child th:first-child{
 	border-radius: 0 0 0 30px ; 
 }
 
 .blacklist_page #blacklist_container tbody tr:last-child td:last-child{
 	border-radius: 0 0 10px 0 ; 
 } 
 
 .blacklist_page .list_index {
 	width: 75px;
 }
 
 .blacklist_page .list_id {
 	width: 200px;
 }
 
 .blacklist_page .list_content {
 	width: 350px;
 }
 
 .blacklist_page #del_black {
 	color: salmon;
 	font-weight: lighter;
 }
 
 .blacklist_page #del_black:hover {
 	color: salmon;
 	font-weight: bold;
 }
 
 .blacklist_page .list_date {
 	width: 175px;
 }
 
/*  .blacklist_page .pagination_container a{
 	display: block;
 	text-decoration: none;
 } */
 
 
 .blacklist_page .btn_container{
 	width: 250px;
 	gap: 10px;
 }
 