@charset "UTF-8";



.home_page{
	    transition: background-color 0.5s ease;
	
}

#main_content {
	width: 100%;
	margin:0;
	padding: 0;
	overflow: auto;
	
}

/* 메인슬라이드 */
#carouselExampleAutoplaying {
	width: 100%;
	position:relative;
}

#carouselExampleAutoplaying .carousel-item img {
	width:100%;
    height: 100vh;
    object-fit: cover;
}



/*---카테고리--- */

.categories {
	width:1200px;
    margin: auto;
    text-align: center;
    padding-top: 130px;
}

.majors {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.major {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    padding-top:25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: black;
}

.major:hover {
	 transform: scale(1.2);
	 background: linear-gradient(to bottom, #E0FFD9,#AAFFA3, #86E57F);
}

.major p {
	font-weight: lighter;
}

.newItem_wrap{
	width: 100%;
	margin:auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding-top:130px;
	padding-bottom:160px;
}

.newItem_container{
	position: relative;
	width: 1200px;
	display: flex;
	flex-direction: column;
	margin:auto;
	overflow: hidden;
}

.newItem_container h3{
	margin-bottom:20px;
}

.newItem_container2{
	display: flex;
	justify-content: space-between;
	gap:20px;
	transition: transform 0.5s ease;
}

.item2 {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 14px;
	flex: 0 0 16%; /* 6개 아이템이 100% 폭에 맞게 보이도록 설정 (100% / 6 ≈ 16.66%) */
  	box-sizing: border-box; /* padding과 border가 너비에 포함되도록 설정 */
}

.item2 img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: 12px;
}

.item_view2 {
    width: 160px;
    padding-top: 12px;
}

.item_view2 h3{
	font-size: 16px;
	margin-bottom: 6px;
	white-space: nowrap;         
    overflow: hidden;         
    text-overflow: ellipsis;
}

.item_view2 h4{
	font-size: 15px;
}

.item_view2 h5{
	margin-top:9px;
	font-size: 14px;
	color: gray;
	font-weight: lighter;
}

.new_arrow{
	width: 35px;
	height:35px;
	border-radius: 70%;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
	padding: 7px;
	cursor: pointer;
}

.new_arrow:hover {
	background: #EAEAEA; 
}

.new_arrow img{
	width: 100%;
}
.prev {
	left: 100px;
	
}

.next {
	right: 100px;
}


/* 광고배너 */

.ad_banner {
	width: 100%;
	height: 200px;
	margin-bottom: 180px;
}

.ad_banner img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}



/*--------- 인기상품--------------------- */





/* 구라 박스컨테이너 */

.mainbox_container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction:column;
    margin-bottom:130px;
}

.mainbox {
    width: 590px;
    height: 250px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
    color: white;
}

.mainbox h3 {
    font-size: 22px;
}

.mainbox h2 {
    font-weight: bolder;
    font-size: 30px;
}

.box_txt {
    z-index: 4;
}

.box_img {
    width: 100px;
    z-index: 1;
}

.box_img img {
    width: 100%;
}

.mainbox {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.mainbox .boxhover_img {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity 0.5s ease;
}

.mainbox .boxhover_img img {
    width: 100%;
}


.mainbox:hover {
    transform: scale(0.95);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 3;
}



/* 롤링 */

.rolling {
    display: flex;
    overflow: hidden;
}

.rolling .rolling-list ul {
    display: flex;
    padding-left: 0;
}

.rolling-list.original {
    animation: rollingleft1 50s linear infinite;
}

.rolling-list.clone {
    animation: rollingleft2 50s linear infinite;
}

@keyframes rollingleft1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rollingleft2 {
    0% {
        transition: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

