@charset "UTF-8";



.home_page{
	    transition: background-color 0.5s ease;
	
}

#main_content {
	width: 100%;
	margin:0;
	padding: 0;
	overflow: auto;
	
}

/* 메인슬라이드 */
#carouselExampleAutoplaying {
	width: 100%;
	position:relative;
}

#carouselExampleAutoplaying .carousel-item img {
	width:100%;
    height: 100vh;
    object-fit: cover;
}



/*---카테고리--- */

.categories {
	width:1200px;
    margin: auto;
    text-align: center;
    padding-top: 130px;
}

.majors {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.major {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    padding-top:25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: black;
}

.major:hover {
	 transform: scale(1.2);
	 background: linear-gradient(to bottom, #E0FFD9,#AAFFA3, #86E57F);
}

.major p {
	font-weight: lighter;
}

.newItem_wrap{
	width: 100%;
	margin:auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding-top:130px;
	padding-bottom:160px;
}

.newItem_container{
	position: relative;
	width: 1200px;
	display: flex;
	flex-direction: column;
	margin:auto;
	overflow: hidden;
}

.newItem_container h3{
	margin-bottom:20px;
}

.newItem_container2{
	display: flex;
	justify-content: space-between;
	gap:20px;
	transition: transform 0.5s ease;
}

.item2 {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 14px;
	flex: 0 0 16%; /* 6개 아이템이 100% 폭에 맞게 보이도록 설정 (100% / 6 ≈ 16.66%) */
  	box-sizing: border-box; /* padding과 border가 너비에 포함되도록 설정 */
}

.item2 img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: 12px;
}

.item_view2 {
    width: 160px;
    padding-top: 12px;
}

.item_view2 h3{
	font-size: 16px;
	margin-bottom: 6px;
	white-space: nowrap;         
    overflow: hidden;         
    text-overflow: ellipsis;
}

.item_view2 h4{
	font-size: 15px;
}

.item_view2 h5{
	margin-top:9px;
	font-size: 14px;
	color: gray;
	font-weight: lighter;
}

.new_arrow{
	width: 35px;
	height:35px;
	border-radius: 70%;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
	padding: 7px;
	cursor: pointer;
}

.new_arrow:hover {
	background: #EAEAEA; 
}

.new_arrow img{
	width: 100%;
}
.prev {
	left: 100px;
	
}

.next {
	right: 100px;
}


/* 광고배너 */

.ad_banner {
	width: 100%;
	height: 200px;
	margin-bottom: 180px;
}

.ad_banner img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}



/*--------- 인기상품--------------------- */


.best_Container{
  width:500px;
  margin:0 auto;
  position:relative;
  top:30px;
  left: 0;
}

.best_Items{
  position:absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.best_Items img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.best_Items:hover .bestitem_view {
  display: block;
}

.best_item{
	width:100%;
	height: 100%;
	border-radius: 70px;
}
.bestitem_view{
	width:100%;
}

.bestitem_view h3{
	margin-top:10px;
	text-align: center;
}


.best_Carousel{
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease;
}

.best_Carousel li{
  list-style:none;
  width:400px;
  height:300px;
  background:#333;
  border-radius:8px;
  border:1px solid #000;
}

.best_Carousel li:hover{
  cursor:pointer;
}

.Front{
	left:50px;
  z-index:1500;
  transform: scale(1);
}

.Left{
  left:-200px;
  z-index:1000;
  opacity:0.8;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}


.Left2{
  left:-400px;
  z-index:1000;
  opacity:0.4;
  -webkit-transform: scale(.50);
  -moz-transform: scale(.50);
  transform: scale(.50);
}


.Right{
  left:300px;
  z-index:1000;
  opacity:0.8;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}


.Right2{
  left:500px;
  z-index:1000;
  opacity:0.4;
  -webkit-transform: scale(.50);
  -moz-transform: scale(.50);
  transform: scale(.50);
}


.Scale{
  z-index:1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.Scale2{
  z-index:3000;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.Left, .Left2, .Right, .Right2 {
  z-index: 500;
  opacity: 0.6;
  transform: scale(0.75);
}


/* 구라 박스컨테이너 */

.mainbox_container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction:column;
    margin-bottom:130px;
}

.mainbox {
    width: 590px;
    height: 250px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
}

.mainbox h3 {
    font-size: 22px;
}

.mainbox h2 {
    font-weight: bolder;
    font-size: 30px;
}

.box_txt {
    z-index: 4;
}

.box_img {
    width: 100px;
    z-index: 1;
}

.box_img img {
    width: 100%;
}

.mainbox {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.mainbox .boxhover_img {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
    transition: opacity 0.5s ease;
}

.mainbox .boxhover_img img {
    width: 100%;
}

.mainbox:hover .boxhover_img {
    display: block;
}

.mainbox.hovered .boxhover_img {
    display: block;
}

.mainbox:hover {
    transform: scale(0.95);
}

.mainbox.hovered {
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 3;
}

.mainbox.hovered .overlay {
    opacity: 1;
    /* 호버 시 오버레이가 나타남 */
}


.boxLeft {
    background-color: rgb(167, 255, 159);
}

.boxRight {
    background-color: rgb(152, 226, 255);
}

.boxUnderLeft {
    background-color: rgb(219, 175, 255);
}

.boxUnderRight {
    background-color: rgb(255, 206, 101);
}

/* 롤링 */

.rolling {
    display: flex;
    overflow: hidden;
}

.rolling .rolling-list ul {
    display: flex;
    padding-left: 0;
}

.rolling-list.original {
    animation: rollingleft1 50s linear infinite;
}

.rolling-list.clone {
    animation: rollingleft2 50s linear infinite;
}

@keyframes rollingleft1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rollingleft2 {
    0% {
        transition: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

